* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: Arial, sans-serif;
  background: #0f172a;
}

button,
input {
  font-family: inherit;
}

.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.dashboard-page {
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 90px;
  color: white;
}

.jackpot {
  animation: firePulse 1s infinite;
}

@keyframes firePulse {
  0% {
    transform: scale(1);
    text-shadow: 0 0 10px orange;
  }

  50% {
    transform: scale(1.15);
    text-shadow: 0 0 30px red;
  }

  100% {
    transform: scale(1);
    text-shadow: 0 0 10px orange;
  }
}
